.logdiv{
    height: auto;
    width: 500px;
    background-color: white;
    margin: auto;
    min-height: 300px;
    height: auto;
    min-width: 400px;
    max-width: 00px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    padding: 0px 20px 20px 20px;
    /* background-color: yellow; */
    border-radius: 10px;
}

.mainnav{
    margin-bottom: 40px;
}

.headdiv{
    text-align: center;
    font-size: 22px;
    height: 30px;
    margin-top: 20px;
    border-bottom: 1px solid wheat;
}
.bodydiv{
    height: 80%;
}

.formdiv{
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    padding:20px 30px 20px;
    min-height: 180px;
    font-size: 18px;
    font-weight: 700;
}

input{
    margin-top: 5px;
    margin-bottom: 10px;
    width: 300px;
    height: 27px;
    border: 0.1px solid black;
    border-radius: 5px;
    padding: 2px;
}

button{
    margin-top: 9px;
    width: 308px;
    height: 35px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

