 <div class="mainnav">

 </div>
 <div class="logdiv">
    <h5>Log-in</h5>
    <div >
        <form #r="ngForm"> 
            <div class="formDiv">
                
                <label>User Email</label>
                <input type="text" name="email" ngModel #email="ngModel" required minlength=5>
                <label>Password</label>
                <input type="password" name="pwd" ngModel #pwd="ngModel" required minlength=1>
                <button type="submit" [routerLink]="vals" (click)="login(r)">Login</button>
                <a routerLink="/register">Sign-up</a>
            </div>
        </form>
    </div>
 </div>