body{
    background-color: lightpink;
}


.mainnav{
    width: auto;
    height: 30px;
    margin-bottom: 0px;
    background-color: #05386B;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.sub-mainnav{
    margin-right: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 190px;
}
.para{
    margin-right: 2px;
    height: 25px;
    width: auto;
    padding: 5px;
    cursor: pointer;
    transition: ease-in 0.2s;
}

.para:hover{
    background-color: white;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}

.maintrack{
    height:auto;
    min-height: 30px;
    width: 700px;
    margin:auto;
    margin-top:50px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center ;
    padding:15px
}
.logout{
    background-color:rgb(70, 6, 70);
    color: white;
    border: none;
    width: 100px;
}
h5{
    border-color: 1px solid black;
}
table{
    margin-top: 10px;
    width: auto;
    border-collapse: collapse;
}

tr,td{
    border: 1px solid black;
    border-width: 1px;
    padding: 10px;
}

.Dates{
    width:100px;
}

tr:nth-child(even)
{
    background-color: whitesmoke;
}
tr:nth-child(odd)
{
    background-color: wheat;
}
th{
    background-color: rgb(70, 6, 100);
    color: white;
    border: 1px solid black;
    border-width: 1px;
    padding: 12px;  
}
