.mainnav{
    width: auto;
    height: 30px;
    margin-bottom: 0px;
    background-color: #05386B;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.sub-mainnav{
    margin-right: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 180px;
}

p{
    margin-right: 2px;
    height: 25px;
    width: auto;
    padding: 2px;
}

p:hover{
    background-color: white;
    color: black;
}