<div class="mainnav">
    <div class="sub-mainnav">
        <p class="para" routerLink="/newrequests">New Requests</p>
        <p class="para" routerLink="/overview">Overview</p>
    </div>
    <div class="sub-mainnav">
<select class="logout" [(ngModel)]="chosenMod" (ngModelChange)="logout()">
            <option value="mod1" selected disabled>{{UserName}}</option>
            <option value="mod2">Logout</option>
        </select>    </div>
 </div> 
<div class="maintrack">
    <h5>New Requests</h5>
    <table>
        <tr>
            <th>Employee Email</th>
            <th>Leave Type</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Action</th>
            <th>Status</th>
        </tr> 
        <tr *ngFor="let leave of cleaves">
            <td>{{leave.email}}</td>
            <td>{{leave.reason}}</td>
            <td>{{leave.startdate |date}}</td>
            <td>{{leave.enddate |date}}</td>
            <td><div class="action"><button (click)="accept(leave)">Accept</button><button  (click)="reject(leave)">Reject</button></div></td>
            <td>{{leave.status}}</td>
            <!-- <td>{{leave.comments}}</td> -->
        </tr>
    </table>
</div>