<div class="mainnav">
    <div class="sub-mainnav">
        <p class="para" routerLink="/applyleave">Apply</p>
        <p class="para" routerLink="/trackleaves">Track</p>
    </div>
    <div class="sub-mainnav">
        <p class="para">{{username}}</p>
    </div>
</div>
<div class="firstdiv"> 
    <h4>Apply Leave</h4>
    <div class="maindiv">
        <form #Lform="ngForm" (ngSubmit)="leavedetails(Lform)">
        <label for="reason">Leave Type</label>
        <select id="reason" class="entry" name="reason" ngModel #reason="ngModel">
            <option>Sick Leave</option>
            <option>Vacation</option>
            <option>Personal</option>
        </select>
        <label for="startdate">Start Date</label>
        <input id="startdate "type="datetime-local" class="entry" name="startdate" ngModel #startd="ngModel">
        <label for="enddate">End Date</label>
        <input id="enddate" type="datetime-local" class="entry" name="enddate" ngModel #endD="ngModel">
        <button class="entry">Apply</button >
        </form>
    </div>
</div>