<div class="mainnav">
    <div class="sub-mainnav">
        <p class="para" routerLink="/newrequests">New Requests</p>
        <p class="para" routerLink="/overview">Overview</p>
    </div>
    <div class="sub-mainnav">
<select class="logout" [(ngModel)]="chosenMod" (ngModelChange)="logout()">
            <option value="mod1" selected disabled>username</option>
            <option value="mod2">Logout</option>
        </select>    </div>
 </div>
<div class="maintrack">
    <h5>Leaves Overview</h5>
    <table>
        <tr>
            <th>Employee Email</th>
            <th>Leave Type</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Status</th>
        </tr>
        <tr *ngFor="let leave1 of leaveData">
            <td>{{leave1.email}}</td>
            <td>{{leave1.reason}}</td>
            <td>{{leave1.startdate | date}}</td>
            <td>{{leave1.enddate | date}}</td>
            <td>{{leave1.status}}</td>
        </tr>
    </table>
</div>